

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #446B65;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    

}
h2 {
    font-family: 'Montserrat', sans-serif;
    color: #7F6D9B;
    text-align: center;
    font-size: 36px;
    
}
h3 { 
  font-family: 'Montserrat', sans-serif;
  color: #446B65;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

h4 { 
  font-family: 'Montserrat', sans-serif;
  color: #446B65;
  text-align: center;
  font-size: 16px;
  
}

h5 {
  font-family: 'Permanent Marker', cursive;
    color: #446B65;
    font-size: 24px;
}

h6 {
  font-family: 'Montserrat', sans-serif;
  color: #7F6D9B;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.h7 {
  font-family: 'Montserrat', sans-serif;
  color: #446B65;
  text-align: center;
  font-size: 56px;
  font-weight: bold;
}

.display-4 {
    font-size: 36px;
    text-align: center;
}

.btn {
    
    background-color: #7F6D9B;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18;
    margin-left: 20px;
    
    
  }

  .button {
    margin-bottom: 30px;
    
  }


  .btn {
    transition-duration: 0.2s;
    
    
  }
  
  .btn:hover {
    background-color: #615574; /* Green */
    color: white;
  }

.indent {
      text-indent: 30px;
  }

.fridge {
    max-width: 100%;
    min-width: 500px;
    height: auto;
    border: none;
    background: transparent;
    box-shadow: none;
    
  }

  #fridgeleft {
    min-width: 300px;
    
  }



  /* Style the navigation menu */
.topnav {
    
    overflow: hidden;
    background-color: #E4EFE2;
    position: absolute;
    max-width: 100%;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
    background-color: transparent;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: black;
    padding: 20px 15px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    display: block;
    width: 376px;
    
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: transparent;
    color: black;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }

  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #E4EFE2;
    color: #615574;
   
  }
  
  /* Style the active link (or home/logo) */
  .active {
    height: 79px;
    background-color: #E4EFE2;
    
    
  }

  .jumbotron {
      Padding-left: 40px;
      padding-right: 40px;
      padding-top: 40px;
  }


  .col-sm {
      margin-top: 50px;
      margin-bottom: 20px;
      font-family: 'Montserrat', sans-serif;
      color: #7F6D9B;
      font-weight: bold;
      font-size: 10;
      
  }

  .col-sm img {
    max-width: 75%;
  }

  img[src="images/logofridge.png"] {
    max-width: 250px;
    padding: 20px;
    padding-bottom: 20px;
    margin: auto;
    text-align: center;
   
   

  }

  #dropdownMenuLink {
      font-size: x-small;
      font-family: 'Montserrat', sans-serif;
      color: #446B65;
      text-decoration: none;

  }

  .dropdown {
      margin-right: 25px;
      padding: 14px;
      display: block;
      position: absolute;
      right: 10px;
      top: 42px;


      
  }

  .icon {
    color: white; 
   
  }

  .center {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: white;
    
  }

  .container1 {
    position: relative;
  }

  .important {
     text-align: center;
     color: #446B65;
     line-height: 2;
     font-size: 52;

  }

  body {
      margin: 40px;
      
  }

  .grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      max-width: 1500px;
      justify-content: center;
      
  }
  .img-wrapper {
      position: relative;
      overflow: hidden;
      max-width: 500px;
    
  }

  .img-wrapper img {
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;

  }

  .overlay {
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    background: rgba(255, 255, 255, .4);
    position: absolute;
  
}

  .img-wrapper .content {
      position: absolute;
      inset: 0;
      font-size: 1.2rem;
      padding: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
      font-family: 'Montserrat', sans-serif;
      color: #7F6D9B;
      font-weight: bold;
      
  }

  .img-wrapper > img,
  .img-wrapper > .content
  .img-wrapper > .dot.blur {
      transition: 600ms ease-in-out;
  }


.img-wrapper > .dot {
    width: 80%;
    aspect-ratio: 1 / 1;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 50%;
    position: absolute;
    margin: 10%;
   
}

.col-sm {
   text-align: center;
}

.learn {
    background-color: #93BE8B;
    margin-top: 50px;
    margin-bottom: 50px;
    margin: auto;
    
     
}


.col-sm:hover > img.blur {
    background-color: rgba(255, 255, 255, .8);
}

.img-wrapper:hover > .dot.blur {
    background-color: rgba(255, 255, 255, .6);
}

.col-sm-4:active > .btn {
   background-color: tomato;

}

.col-sm-4:visited > .btn {
    background-color: tomato;
 
 }

.col-sm-4:hover > .btn {
    background-color: #7F6D9B;
 
 }

.text-center {
     font-size: 10px;
 }

.button .slack {
    max-width: 30px;
}

.header {
    padding-top: 20;
    padding-bottom: 9px;
    background-color: #E4EFE2;
    max-height: 89px;

}

.learn {
    display: flex;
    justify-content: center;
    max-width: 200px;
    
}

.social {
    color: white;
    margin-top: 20px;
    margin-right: -15px;
    
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #D9D8DD;
    padding: 100px;
    margin: auto; 
    min-width: 500px; 

}

.card {
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: x-small;
    margin: auto;
    height: 316px;
    width: 288px;
    margin-bottom: 50px;
    justify-content:center;
  

}

.hear {
    display: flex;
    justify-content: center;
    max-width: 200px;
}

.text-center {
    margin-top: 0;
}

.fridgelogo {
  margin: auto;
  display: block;
  
}

@media only screen and (max-width: 1026px) {
  #fadeshow1 {
      display: none;
  }
}


.links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 400px;
  margin-right: 400px;
 
}

@media only screen and (max-width: 900px) {
  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
  }
}


.topnav h6 {
  color: black;

  
}

.mobile-l {
  width: 75%;
  text-align: left;
  margin: auto 0;

}

.mobile-s {
  width: 40px;
  padding: 5;
  width: 50px;
}

.mobile-l h6 {
  margin-bottom: 0;
  text-align: left;
 
}

.top1 {
  padding: 50px;
  
}

.content h5 {
 
  font-size: 30px;
  
}

@media only screen and (max-width: 900px) {
  .top1 {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
}



body
{
  margin: 0;
  padding: 0;
  
  /* make it look decent enough */
  background: white;
  
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #446B65;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: #2EB29E;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
 
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #446B65;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #446B65;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 376px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #E4EFE2;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

#menu h6{
  color: #446B65;
}

#header{
  width:100%; 
  background-color: #EFF5EE;
  height: 130px;
  margin-top: 0;
}
#headerContent{
  margin: 0 auto; width: 960px;
}

.img-wrapper h4 {
  font-weight: bold;
}

html, body {width: auto!important; overflow-x: hidden!important} 

html {
  overflow-x: hidden;
}