

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #446B65;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    

}
h2 {
    font-family: 'Montserrat', sans-serif;
    color: #7F6D9B;
    text-align: center;
    font-size: 36px;
    
}
h3 { 
  font-family: 'Montserrat', sans-serif;
  color: #446B65;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

h4 { 
  font-family: 'Montserrat', sans-serif;
  color: #446B65;
  text-align: center;
  font-size: 16px;
  
}

h5 {
  font-family: 'Permanent Marker', cursive;
    color: #446B65;
    font-size: 24px;
}

h6 {
  font-family: 'Montserrat', sans-serif;
  color: #7F6D9B;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
}

.h7 {
  font-family: 'Montserrat', sans-serif;
  color: #446B65;
  text-align: center;
  font-size: 56px;
  font-weight: bold;
}

.display-4 {
    font-size: 36px;
    text-align: center;
}

.btn {
    
    background-color: #7F6D9B;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18;
    margin-left: 20px;
    
    
  }

  .button {
    margin-bottom: 30px;
    
  }


  .btn {
    transition-duration: 0.2s;
    
    
  }
  
  .btn:hover {
    background-color: #615574; /* Green */
    color: white;
  }

.indent {
      text-indent: 30px;
  }

.fridge {
    max-width: 100%;
    min-width: 500px;
    height: auto;
    border: none;
    background: transparent;
    box-shadow: none;
    
  }

  #fridgeleft {
    min-width: 300px;
    
  }



  /* Style the navigation menu */
.topnav {
    
    overflow: hidden;
    background-color: #E4EFE2;
    position: absolute;
    max-width: 100%;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: black;
    padding: 25px 20px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    display: block;
    
    
    
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: #E4EFE2;
    color: black;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }

  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #E4EFE2;
    color: #615574;
   
  }
  
  /* Style the active link (or home/logo) */
  .active {
    height: 79px;
    background-color: #E4EFE2;
    
  }

  .jumbotron {
      Padding: 40px;
  }


  .col-sm {
      margin-top: 50px;
      margin-bottom: 20px;
      font-family: 'Montserrat', sans-serif;
      color: #7F6D9B;
      font-weight: bold;
      font-size: 10;
      
  }

  .col-sm img {
    max-width: 75%;
  }

  img[src="images/logofridge.png"] {
    max-width: 250px;
    padding: 20px;
    padding-bottom: 20px;
    margin: auto;
    text-align: center;
  }

  #dropdownMenuLink {
      font-size: x-small;
      font-family: 'Montserrat', sans-serif;
      color: #446B65;
      text-decoration: none;

  }

  .dropdown {
      margin-right: 25px;
      padding: 14px;
      display: block;
      position: absolute;
      right: 10px;
      top: 42px;


      
  }

  .icon {
    color: white;  
  }

  .center {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: white;
    
  }

  .container1 {
    position: relative;
  }

  .important {
     text-align: center;
     color: #446B65;
     line-height: 2;
     font-size: 52;

  }

  body {
      margin: 40px;
      
  }

  .grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      max-width: 1500px;
      
  }
  .img-wrapper {
      position: relative;
      overflow: hidden;
      max-width: 500px;
    
  }

  .img-wrapper img {
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;

  }

  .overlay {
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    background: rgba(255, 255, 255, .4);
    position: absolute;
  
}

  .img-wrapper .content {
      position: absolute;
      inset: 0;
      font-size: 1.2rem;
      padding: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
      font-family: 'Montserrat', sans-serif;
      color: #7F6D9B;
      font-weight: bold;
      
  }

  .img-wrapper > img,
  .img-wrapper > .content
  .img-wrapper > .dot.blur {
      transition: 600ms ease-in-out;
  }


.img-wrapper > .dot {
    width: 80%;
    aspect-ratio: 1 / 1;
    background-color: rgba(255, 255, 255, .4);
    border-radius: 50%;
    position: absolute;
    margin: 10%;
   
}

.col-sm {
   text-align: center;
}

.learn {
    background-color: #93BE8B;
    margin-top: 50px;
    margin-bottom: 50px;
    margin: auto;
    
     
}


.col-sm:hover > img.blur {
    background-color: rgba(255, 255, 255, .8);
}

.img-wrapper:hover > .dot.blur {
    background-color: rgba(255, 255, 255, .8);
}

.col-sm-4:active > .btn {
   background-color: tomato;

}

.col-sm-4:visited > .btn {
    background-color: tomato;
 
 }

.col-sm-4:hover > .btn {
    background-color: #7F6D9B;
 
 }

.text-center {
     font-size: 10px;
 }

.button .slack {
    max-width: 30px;
}

.header {
    padding-top: 20;
    padding-bottom: 9px;
    background-color: #E4EFE2;
    max-height: 89px;

}

.learn {
    display: flex;
    justify-content: center;
    max-width: 200px;
    
}

.social {
    color: white;
    margin-top: 20px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #D9D8DD;
    padding: 100px;
    margin: auto; 
    min-width: 500px; 

}

.card {
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: x-small;
    margin: auto;
    height: 316px;
    width: 288px;

}

.hear {
    display: flex;
    justify-content: center;
    max-width: 200px;
}

.text-center {
    margin-top: 0;
}

.fridgelogo {
  margin: auto;
  display: block;
  

}

@media only screen and (max-width: 1026px) {
  #fadeshow1 {
      display: none;
  }
}



















