.btn {
  background-color: #7f6d9b;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 18;
  margin-left: 20px;
}

.btn {
  transition-duration: 0.2s;
}

.btn:hover {
  background-color: #615574; /* Green */
  color: white;
}

/* Style the active link (or home/logo) */
#menu .active {
  height: 79px;
  background-color: #e4efe2;
}

img[src="images/logofridge.png"] {
  max-width: 250px;
  padding: 20px;
  padding-bottom: 20px;
  margin: auto;
  text-align: center;
}

#dropdownMenuLink {
  font-size: x-small;
  font-family: "Montserrat", sans-serif;
  color: #446b65;
  text-decoration: none;
}

.dropdown {
  margin-right: 25px;
  padding: 14px;
  display: block;
  position: absolute;
  right: 10px;
  top: 42px;
}

.icon {
  color: white;
}

.social {
  color: white;
  margin-top: 20px;
  margin-right: -15px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 400px;
  margin-right: 400px;
}

@media only screen and (max-width: 900px) {
  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
  }
}

.fridgelogo {
  margin: auto;
  display: block;
}

/* @media only screen and (max-width: 1026px) {
  #fadeshow1 {
    display: none;
  }
} */

@media only screen and (max-width: 500px) {
  .fridgelogo {
    float: right;
  }
}

.mobile-l {
  width: 75%;
  text-align: left;
  margin: auto 0;
}

.mobile-s {
  width: 40px;
  padding: 5;
  width: 50px;
}

#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #446b65;

  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: #2eb29e;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 1002; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  z-index: 1001;
  background: #446b65;
  border-radius: 3px;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #446b65;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  z-index: 1000;
  position: absolute;
  width: 376px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #e4efe2;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
}

#menu h6 {
  color: #446b65;
}

#header {
  width: 100%;
  background-color: #eff5ee;
  height: 130px;
  margin-top: 0;
}
