@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");

/* DEFAULT STYLES */
body {
  color: #446b65;
  background-color: white;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-weight: 700;
}

button {
  padding: 8px;
  font-weight: 600;
  border-radius: 25px;
  color: white;
  width: 100%;
  border: 2px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

/* BACKGROUND COLORS */
.background-color-primary {
  background-color: white;
}

.background-color-secondary {
  background-color: rgba(147, 190, 139, 0.15); /* #93BE8B */
}

/* BACKGROUND COLORS */

.color-primary {
  color: #5b968d;
}

.color-secondary {
  color: #7f6d9b;
}

/* BUTTONS  */
.button-primary {
  background-color: #5b968d;
}

.button-secondary {
  background-color: white;
  color: #7f6d9b;
  border-color: #7f6d9b;
}

/* GOOGLE MAPS */

#googlemaps {
  position: relative;
}

#autocomplete {
  border-radius: 6px;
  margin-bottom: 12px;
  height: 30px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
}

.pac-container {
  height: auto;
}

#map {
  height: 350px;
}

#maps-filter {
  position: absolute;
  right: 62px;
  top: 16px;
  z-index: 1000;
}

#maps-filter > button > img {
  display: flex;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

#maps-filter > button {
  display: block;
  padding: 0;
  margin: 0;
  height: 30px;
  width: 30px;
  margin-left: auto;
}

#maps-menu {
  width: 300px;
  padding: 26px 20px;
  background-color: white;
  border-radius: 24px;
}

#maps-buttons button {
  width: 30%;
  height: 30px;
  margin-bottom: 8px;
  color: #616161;
}

/* STYLES */

body > div {
  height: 100vh;
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

header .main-title {
  text-align: center;
  padding: 40px 10px;
}

header .tab-nav {
  padding: 10px 20px;
}

header .tab {
  display: inline-block;
  padding: 5px;
}

header .tab.active {
  text-decoration: underline;
  font-weight: 600;
}

section {
  height: 100%;
}

section > .row {
  height: 100%;
}

section .cards-window {
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

section #cards {
  display: flex;
  flex-direction: column;
}

section .card .fridge-img {
  display: flex;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

section .card .content {
  padding: 20px;
}

section .card .title {
  margin-bottom: 10px;
}

section .card .hours {
  margin-bottom: 10px;
}

section .card .address {
  margin-bottom: 10px;
}

section .card .items {
  display: flex;
}

section .card .content img {
  display: flex;
  height: 20px;
  width: 20px;
}

@media only screen and (max-width: 767px) {
  body > div {
    overflow: initial;
  }

  section .cards-window {
    position: static;
    overflow: auto;
  }
}
